<!DOCTYPE html>
<html>
<head>
  <title>Braeger Woodworking Inc. | Cabinets</title>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Braeger Woodworking", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<%= render 'layouts/job_header' %>
<br />
<div id="main_body">
  <%= render 'layouts/body_header' %>
</div>
<%= render 'layouts/button_footer' %>

<script>
  
  function add_options(){
    $('#style_select_' + row_count).append('<option value="0">Arch</option>');
    $('#style_select_' + row_count).append('<option value="1">Cathedral</option>');
    $('#style_select_' + row_count).append('<option class="custom_screen_open" value="2">Custom</option>');
    $('#style_select_' + row_count).append('<option value="3">Glass Arch</option>');
    $('#style_select_' + row_count).append('<option value="4">Glass Cathedral</option>');
    $('#style_select_' + row_count).append('<option value="5">Glass Square</option>');
    $('#style_select_' + row_count).append('<option value="6">Square</option>');
  }

  function calculate(){
    var qty = op = style = panel_msg = style_rail_msg = bottom = "";
    for(var i = 0; i < row_count; i++){
      qty = $('#qty_' + i).val();
      op = $('#size_' + i).val();
      if (!(qty == 0 || op == "")){
        style = $('#style_select_' + i).val();
        panel_msg = "&nbsp;&nbsp;&nbsp;&nbsp;Glass";
        style_rail_msg = get_style_and_rail(qty, op.toUpperCase(), style);
        if(style != 2 && style != 3 && style != 4 && style != 5){
          panel_msg = get_panel_cabinets(qty, op.toUpperCase());
        }
        $('#style_rail_info_' + i).html(style_rail_msg);
        $('#panel_info_' + i).html(panel_msg);
        $('#style_rail_info_' + i).css({"color": "black"});
        $('#panel_info_' + i).css({"color": "black"});
        if(extra_room){
          $('#notes_' + i).parent().height(70);
          extra_room = false;
        }
      }
    }
  }
  
</script>
