<!DOCTYPE html>
<html>
<head>
  <title>Braeger Woodworking Inc. | Dovetail Drawers</title>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Braeger Woodworking", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<form action="/dovetail_drawers" id="dovetail_drawers_form" method="post">
  <%= render 'layouts/alt_header' %>
  <br />
  <div id="main_body">
    <%= render 'layouts/alt_body_header' %>
  </div>
  <%= render 'layouts/button_footer' %>
</form>

<script>
  
  function add_options(){
    $('#style_select_' + row_count).append('<option value="0">Dovetail Regular</option>');
    $('#style_select_' + row_count).append('<option value="1">Dovetail Pullout</option>');
  }
  
  function calculate(){
    var qty = op = style = parts_msg = bottom = "";
    arr_total = [];
    arr_denom = [];
    $('#txt_totals').val("");
    for(var i = 0; i < row_count; i++){
      qty = $('#qty_' + i).val();
      op = $('#size_' + i).val();
      if(qty == "" && op == "") {
        $('#style_rail_info_' + i).html("");
        $('#panel_info_' + i).html("");
        $('#border_info_' + i).val("");
        $('#center_info_' + i).val("");
        $('#notes_' + i).parent().height(50);
        $('#notes_' + i).val("");
      }
      style = $('#style_select_' + i).val();
      bottom = $('#bottom_selector').val();
      if (!(qty == 0 || op == "")  && op.match(/x/g).length == 2){
        parts_msg = get_parts(qty, op.toUpperCase(), style, bottom);
        //bottom info is after the pipe
        $('#style_rail_info_' + i).html(parts_msg.substring(0, parts_msg.indexOf("|")));
        $('#panel_info_' + i).html(parts_msg.substring(parts_msg.indexOf("|") + 1));
        $('#border_info_' + i).val(parts_msg.substring(0, parts_msg.indexOf("|")));
        $('#center_info_' + i).val(parts_msg.substring(parts_msg.indexOf("|") + 1));
        $('#style_rail_info_' + i).css({"color": "black"});
        $('#panel_info_' + i).css({"color": "black"});
        //add break for 3rd line for pullout drawers
        if(style == "1"){
          $('#notes_' + i).parent().height(70);
        }
      }
    }
  }
  
</script>
