<!DOCTYPE html>
<html>
<head>
  <title>Braeger Woodworking Inc. | Drawer Fronts</title>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Braeger Woodworking", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<%= render 'layouts/job_header' %>
<br />
<div id="main_body">
  <%= render 'layouts/body_header' %>
</div>
<%= render 'layouts/button_footer' %>

<script>

  function add_options(){
    $('#style_select_' + row_count).append('<option value="0">5-piece, 1.25</option>');
    $('#style_select_' + row_count).append('<option value="1">5-piece, 1.50</option>');
    $('#style_select_' + row_count).append('<option value="2">5-piece, 1.75</option>');
    $('#style_select_' + row_count).append('<option value="3">5-piece, 2.25</option>');
    $('#style_select_' + row_count).append('<option value="4">Panel Front</option>');
    $('#style_select_' + row_count).append('<option value="5">Slab</option>');
  }
  
  function calculate(){
    var qty = op = style = pnlmsg = pnlinfo = "";
    for(var i = 0; i < row_count; i++){
      qty = $('#qty_' + i).val();
      op = $('#size_' + i).val();
      style = $('#style_select_' + i).val();
      if (!(style == "4" || style == "5" || qty == 0 || op == "")){
        pnlmsg = get_panel_fronts(qty, op.toUpperCase(), style);
        //panel info is after the pipe
        $('#style_rail_info_' + i).html(pnlmsg.substring(0, pnlmsg.indexOf("|")));
        $('#panel_info_' + i).html(pnlmsg.substring(pnlmsg.indexOf("|") + 1));
        $('#style_rail_info_' + i).css({"color": "black"});
        $('#panel_info_' + i).css({"color": "black"});
      } else if(style == "4" || style == "5") {
        $('#style_rail_info_' + i).html("");
        $('#panel_info_' + i).html("");
      }
    }
  }
  
</script>
