<!DOCTYPE html>
<head>
  <title>Braeger Woodworking Inc. | Home</title>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Braeger Woodworking", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Search", search_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="center hero-unit">
  <h1 id="welcome">Good Morning!</h1>
  <h2>
    Please select an application below
  </h2>
  <div></div>
  <div style="font-size: 20px; font-weight: bold;">
    <%= link_to "Dovetail Drawers", dovetail_drawers_path %>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to "Doors", doors_path %>       
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to "Drawer Fronts", drawer_fronts_path %>
  </div>
</div>

<script>
  var d = new Date().getHours();
  if(d >= 17) {
    document.getElementById("welcome").innerHTML = "Good Evening!";
  } else if(d > 11) {
    document.getElementById("welcome").innerHTML = "Good Afternoon!";
  }
</script>

