<!DOCTYPE html>
<head>
  <title>Braeger Woodworking Inc. | Home</title>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Braeger Woodworking", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="center hero-unit">
  <h1 id="welcome">Welcome to Search</h1>
  <h2>
    Please select your search options below
  </h2>
  <div></div>
  <div>
    <form action="/search" id="search_form" method="get">
      <%= label_tag 'job_label', 'Job:', class: 'search_label' %>
      <%= select_tag 'jobs', ("<option></option><option>All</option>"  + options_for_select(@jobs_list)).html_safe, class: 'search_select' %> 
      <br />
      <%= label_tag 'date_range_label', 'Date Range:', class: 'search_label' %>
      <%= label_tag 'date_from_label', 'From:', class: 'search_label_date' %>
      <%= text_field_tag 'date_from', nil, class: "datepicker" %>
      <%= label_tag 'date_to_label', "To:", class: 'search_label_date' %>
      <%= text_field_tag 'date_to', nil, class: "datepicker" %>
      <br />
      <%= submit_tag "Search", :onclick => 'return check_blank();', :class => 'btn btn-large btn-primary' %>
      <br /><br />
      <div>
        <%= select_tag 'found_jobs', nil, { :multiple => :true, :disabled => 'disabled', :size => '8' } %>
        <%= select_tag 'found_jobs_info', nil, { :multiple => :true, :disabled => 'disabled', :size => '8' } %>
        <br />
        <%= submit_tag "Open Job", { :id => "open_job_button", :onclick => 'return false;', :class => 'btn btn-large btn-primary', :disabled => 'disabled' } %>
      </div>
    </form>
  </div>
</div>

<script>
  function add_options(){}
  function check_blank(){
    if($('#jobs').val() == "") {
      alert("Must select a job.");
      return false;
    }
    return true;
  }
</script>