<div style="width: 1250px; position: relative; left: -150px; height: 50px;">
  <%= text_field_tag 'nbr', nil, :style => 'width: 30px; font-family: monospace; position: relative; left: 60px;', maxlength: 3 %>

  <%= text_field_tag 'qty', nil, :style => 'width: 30px; font-family: monospace; position: relative; left: 80px;', maxlength: 3 %>

  <%= text_field_tag 'size', nil, :style => 'width: 160px; font-family: monospace; position: relative; left: 95px;', maxlength: 20 %>

  <%= select_tag "style_select", nil, :style => "width: 200px; font-family: monospace; position: relative; left: 125px;", :onChange => "highlight_info(this.id);" %>

  <%= content_tag(:span, nil, :style => "display: inline-block; font-family: monospace; position: absolute; left: 610px; border-bottom: 2px solid black;", :id => "style_rail_info") %>
  <%= hidden_field_tag "border_info", nil %>

  <%= content_tag(:span, nil, :style => "display: inline-block; font-family: monospace; position: absolute; left: 836px;", :id => "panel_info") %>
  <%= hidden_field_tag "center_info", nil %>

  <%= text_field_tag 'notes', nil, :style => 'width: 160px; font-family: monospace; position: absolute; left: 1025px;', maxlength: 20 %>
</div>
