<% if !@job_header %>
  <% @job_header = {:id => 0, :job => "", :wood_type => "", :inside_edge => "", :outside_edge => "", :panel_profile => "", :totals => "" } %>
  <% date_due = "" %>
<% else %>
  <% date_due = @job_header[:date_due].strftime('%m/%d/%Y') %>
<% end %>
<div style="background-color: #eaeaea; position: relative; left: -45px; width: 1025px;">
  <br />
  <div style="position: relative; left: 87px;">
    JOB: <%= text_field_tag 'job', @job_header[:job] %>
    TYPE OF WOOD: <%= text_field_tag 'wood_type', @job_header[:wood_type] %>
    INSIDE EDGE: <%= text_field_tag 'inside_edge', @job_header[:inside_edge] %>
  </div>
  <div style="position: relative; left: 10px;">
    OUTSIDE EDGE: <%= text_field_tag 'outside_edge', @job_header[:outside_edge] %>
    <div style="display: inline; position: relative; left: 3px;">
      PANEL PROFILE: <%= text_field_tag 'panel_profile', @job_header[:panel_profile] %>
    </div>
    <div style="display: inline; position: relative; left: 21px;">
      DATE DUE: <%= text_field_tag 'date_due', date_due, class: "datepicker" %>
    </div>
  </div>
  <br />
</div>
