<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <% if ! (content_for :title).include?("Drawer") %>
      <div id="custom_screen" class="custom">
        <table>
          <tr>
            <td class="right">
              <span>Custom Type:</span>
            </td>
            <td>
              <select id="custom_select" onClick="disable_custom_elements();">
                <option value="0">Glass Custom</option>
                <option value="1">Regular Custom</option>
                <option value="2">Horizontal Split</option>
                <option value="3">Vertical Split</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="right">
              <span>Stile Width:</span> 
            </td>
            <td>
              <input id="custom_stile" type="text" size="20" />
            </td>
          </tr>
          <tr>
            <td  class="right">
              <span>Top Rail Width:</span>
            </td>
            <td>
              <input id="custom_top_rail" type="text" size="20" />
            </td>
          </tr>
          <tr>
            <td  class="right">
              <span>Bottom Rail Width:</span> 
            </td>
            <td>
              <input id="custom_bottom_rail" type="text" size="20" />
            </td>
          </tr>
          <tr>
            <td  class="right">
              <span>Center Rail Width:</span> 
            </td>
            <td>
              <input id="custom_center_rail" type="text" size="20" />
            </td>
          </tr>
          <tr>
            <td class="right">
              <span>Horizontal Split:</span> 
            </td>
            <td>
              <input id="custom_horizontal" type="text" size="20" />
            </td>
          </tr>
          <tr>
            <td class="right">
              <span>Vertical Split:</span> 
            </td>
            <td>
              <input id="custom_vertical" type="text" size="20" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <table width="100%">
                <tr>
                  <td width="50%" class="right pad_right">
                    <button class="custom_screen_close btn btn-large btn-primary" onclick="custom_screen_calculate();">Enter</button>
                  </td>
                  <td width="50%" class="left pad_left">
                    <button class="custom_screen_close btn btn-large btn-primary">Close</button>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    <% end %>

    <input type="hidden" id="hidden_id" value="">
  </body>
</html>
<script>
  var row_count = 0;
  var extra_room = false;
  var arr_denom = new Array();
  var arr_total = new Array();
  var arr_custom_denom = new Array();
  var arr_custom_total = new Array();
  var arr_custom_ids = new Array();
  var arr_custom_qtys = new Array();
  
  function add_rows(){
    for(var i = 0; i < 10; i++){
      $('#main_body').append("<%= escape_javascript("#{render 'layouts/body'}").html_safe %>");
      $('#style_select').attr('id', $('#style_select').attr('id') + "_" + row_count);
      $('#nbr').attr('id', $('#nbr').attr('id') + "_" + row_count);
      $('#qty').attr('id', $('#qty').attr('id') + "_" + row_count);
      $('#size').attr('id', $('#size').attr('id') + "_" + row_count);
      $('#notes').attr('id', $('#notes').attr('id') + "_" + row_count);
      $('#style_rail_info').attr('id', $('#style_rail_info').attr('id') + "_" + row_count);
      $('#panel_info').attr('id', $('#panel_info').attr('id') + "_" + row_count);

      add_options();
      row_count++;
    }
  }
  
  function get_height(size) {
    return parseFloat(size.substring(size.lastIndexOf('X') + 1));
  }
  
  function get_width(size) {
    return parseFloat(size.substring(0, size.indexOf('X')));
  }
  
  function get_depth(size) {
    return parseFloat(size.substring(size.indexOf('X') + 1), size.lastIndexOf('X'));
  }
  
  function get_panel_fronts(qty, op, style){
    var msgone = msgtwo = pnlinfo = "";
    var height = get_height(op);
    var width = get_width(op);
    var pnlheight = pnlwidth = railheight = railwidth = trailwidth = brailwidth = stilewidth = 0;
    switch(style){
      case "0":
        trailwidth = brailwidth = 1.25;
        break;
      case "1":
        trailwidth = brailwidth = 1.5;
        break;
      case "2":
        trailwidth = brailwidth = 1.75;
        break;
      case "3":
        trailwidth = brailwidth = 2.25;
        break;
    }
    
    stilewidth = 2.25;
    railwidth = width - 3.5;
    msgone = qty * 2 + "  -  " + height + " X " + stilewidth + " stiles";
	  msgtwo = qty * 2 + "  -  " + railwidth + " X " + trailwidth + " rails";
    add_values_to_totals(qty * 2, height, stilewidth);
    add_values_to_totals(qty * 2, railwidth, trailwidth);
	  
	  pnlheight = (height - (trailwidth + brailwidth)) + .625;
	  pnlwidth = (width - (stilewidth * 2) + 1) -.375;
	  
	  pnlinfo = qty + "  -  " + pnlwidth + " X " + pnlheight;
	  
	  return msgone + "<br />" + msgtwo + "|" + pnlinfo;
  }
  
  function get_parts(qty, door_size, selection, bottom){
    var height = get_height(door_size);
    var width = get_width(door_size);
    var depth = get_depth(door_size);
    var parts = b_width = b_depth = bottom_msg = "";
    var qty_d = qty * 2;

    //bottom panel depth
    if(bottom == "1" || bottom == "3"){
      b_depth = depth - .4375;
    } else {
      b_depth = depth - .8125; 
    }
    switch(selection){
      case "0":
        parts = qty_d + " - " + width + " X " + height + " F & B";
        add_values_to_totals(qty_d, width, height);
        b_width = width - .8125;
        break;
      case "1":
        //panel front
        parts = qty + " - " + width + " X " + height + " Front";
        add_values_to_totals(qty, width, height);
        parts = parts + "<br />" + qty + " - " + (width - .5) + " X " + height + " Back";
        add_values_to_totals(qty, (width - .5), height);
        b_width = width - .5 - .8125;
        break;
    }
    add_values_to_totals(qty_d, (depth - .5), height);
    bottom = qty + " - " + b_width + " X " + b_depth;
    return parts + "<br />" + qty_d + " - " + (depth - .5) + " X " + height + " Sides|" + bottom;
  }
  
  function get_style_and_rail(qty, size, style){
    var height = get_height(size);
    var width = get_width(size);
    var custom_height = height;
    var custom_width = width;
    var custom_qty = qty;
    var stile_height = stile_width = rail_height = rail_width = top_rail_height = top_rail_width = bottom_rail_height = bottom_rail_width = 0;
    var msg_one = msg_two = msg_three = msg_full = "";
    
    stile_height = height;
    stile_width = 2.25;
    bottom_rail_height = 2.25;
    
    switch(style) {
      case "0":
        top_rail_width = width - 3.5;
        top_rail_height = 3.25;
        bottom_rail_width = width - 3.5;
        msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " stiles";
        add_values_to_totals(qty * 2, stile_height, stile_width);
        msg_two = qty + " - " + top_rail_width + " X " + top_rail_height + " T.R.";
        add_values_to_totals(qty, top_rail_width, top_rail_height);
        msg_three = "<br />" + qty + " - " + bottom_rail_width + " X " + bottom_rail_height + " B.R.";
        add_values_to_totals(qty, bottom_rail_width, bottom_rail_height);
        break;
      case "1":
        top_rail_width = width - 3.5;
        top_rail_height = 4;
        bottom_rail_width = width - 3.5;
        msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " stiles";
        add_values_to_totals(qty * 2, stile_height, stile_width);
        msg_two = qty + " - " + top_rail_width + " X " + top_rail_height + " T.R.";
        add_values_to_totals(qty, top_rail_width, top_rail_height);
        msg_three = "<br />" + qty + " - " + bottom_rail_width + " X " + bottom_rail_height + " B.R.";
        add_values_to_totals(qty, bottom_rail_width, bottom_rail_height);
        break;
      case "2":
        break;
      case "3":
        top_rail_width = width - 3.25;
        top_rail_height = 3.25;
        bottom_rail_width = width - 3.25;
        msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " stiles";
        add_values_to_totals(qty * 2, stile_height, stile_width);
        msg_two = qty + " - " + top_rail_width + " X " + top_rail_height + " T.R.";
        add_values_to_totals(qty, top_rail_width, top_rail_height);
        msg_three = "<br />" + qty + " - " + bottom_rail_width + " X " + bottom_rail_height + " B.R.";
        add_values_to_totals(qty, bottom_rail_width, bottom_rail_height);
        break;
      case "4":
        top_rail_width = width - 3.25;
        top_rail_height = 4;
        bottom_rail_width = width - 3.25;
        msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " stiles";
        add_values_to_totals(qty * 2, stile_height, stile_width);
        msg_two = qty + " - " + top_rail_width + " X " + top_rail_height + " T.R.";
        add_values_to_totals(qty, top_rail_width, top_rail_height);
        msg_three = "<br />" + qty + " - " + bottom_rail_width + " X " + bottom_rail_height + " B.R.";
        add_values_to_totals(qty, bottom_rail_width, bottom_rail_height);
        break;
      case "5":
        rail_width = width - 3.25;
        msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " stiles";
        add_values_to_totals(qty * 2, stile_height, stile_width);
        msg_two = qty * 2 + " - " + rail_width + " X " + bottom_rail_height + " rails";
        add_values_to_totals(qty * 2, rail_width, bottom_rail_height);
        break;
      case "6":
        rail_width = width - 3.5;
        msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " stiles";
        add_values_to_totals(qty * 2, stile_height, stile_width);
        msg_two = qty + " - " + rail_width + " X " + bottom_rail_height + " rails";
        add_values_to_totals(qty, rail_width, bottom_rail_height);
        break;
    }
    
    if(msg_three != ""){ 
      extra_room = true;
    }
    
    msg_full = msg_one + "<br />" + msg_two + msg_three;
    
    return msg_full;
  }
  
  function get_panel_cabinets(qty, size){
    var height = get_height(size);
    var width = get_width(size);
    return qty + " - " + (width - 3.875) + " X " + (height - 3.875);
  }
  
  function highlight_info(id) {
    id = id.substring(id.lastIndexOf("_") + 1);
    if($('#style_rail_info_' + id).html() != ""){
      $('#style_rail_info_' + id).css({"color": "red"});
      $('#panel_info_' + id).css({"color": "red"});
    }
    
    //This will open the custom panel page
    if($('#style_select_' + id).val() == "2") {
      $('#hidden_id').val(id);
      $("#custom_screen_wrapper").fadeIn();
      $('#custom_horizontal').attr('disabled', 'disabled');
      $('#custom_vertical').attr('disabled', 'disabled');      
    }
  }
  
  function custom_screen_calculate() {
    // hidden_id contains id of the row that custom was chosen on
    var id = $('#hidden_id').val();
    var size = $('#size_' + id).val().toUpperCase();
    var height = get_height(size);
    var width = get_width(size);
    var qty = parseInt($('#qty_' + id).val());
    var selection = $('#custom_select').val();
    var msg_one = msg_two = msg_three = msg_four = msg_full = panel_msg = "";
    var stile_height = stile_width = top_rail_width = top_rail_height = bottom_rail_width = bottom_rail_height = center_rail_width = center_rail_height = 0;
    var custom_panel_height_one = custom_panel_height_two = custom_panel_width_one = custom_panel_width_two = custom_panel_height = custom_panel_width = 0;
    var split_one = split_two = denom_one = denom_two = 0;
    var split = false;
    
    stile_height = height;
    stile_width = parseFloat($('#custom_stile').val());
    top_rail_width = parseFloat($('#custom_top_rail').val());
    bottom_rail_width = parseFloat($('#custom_bottom_rail').val());
    center_rail_width = parseFloat($('#custom_center_rail').val());
    top_rail_height = width - (stile_width * 2) + 1;
    center_rail_height = bottom_rail_height = top_rail_height;
        
    switch(selection) {
      case "0":
        top_rail_height = width - (stile_width * 2) + 1.25;
        bottom_rail_height = top_rail_height;
        panel_msg = "&nbsp;&nbsp;&nbsp;&nbsp;Glass";
        break;
      case "2":
        split = true;
        split_one = parseFloat($('#custom_horizontal').val());
        if(split_one > 10){
          split_two = 100 - split_one;
          denom_one = split_one / 100;
          denom_two = split_two / 100;
          custom_panel_height_one = (height - (top_rail_width + bottom_rail_width + center_rail_width)) * denom_one;
          custom_panel_height_two = (height - (top_rail_width + bottom_rail_width + center_rail_width)) * denom_two;
          custom_panel_height_one = Math.round(custom_panel_height_one * 1000) / 1000;
          custom_panel_height_two = Math.round(custom_panel_height_two * 1000) / 1000;
          custom_panel_height_one += .625;
          custom_panel_height_two += .625;
          custom_panel_width = top_rail_height - .375;
          msg_four = "<br />" + qty + " - " + center_rail_height + " X " + center_rail_width + " C.R.";
          panel_msg = qty + " - " + custom_panel_width + " X " + custom_panel_height_one + "<br />";
          panel_msg += qty + " - " + custom_panel_width + " X " + custom_panel_height_two; 
        } else {
          custom_panel_height = (height - (top_rail_width + bottom_rail_width + (center_rail_width * split_one)));
          custom_panel_height = custom_panel_height / (split_one + 1);
          custom_panel_height = Math.round(custom_panel_height * 1000) / 1000;
          custom_panel_height += .625;
          custom_panel_width = top_rail_height - .375;
          msg_four = "<br />" + (qty * parseInt(split_one)) + " - " + center_rail_height + " X " + center_rail_width + " C.R.";
          panel_msg = (split_one + 1) + " - " + custom_panel_width + " X " + custom_panel_height;
        }
        
        //calculate split panel
        if(split_one == 50) {
          panel_msg = (2 * qty) + " - " + custom_panel_width + " X " + custom_panel_height;
        }
        break;
      case "3":
        split = true;
        split_one = parseFloat($('#custom_vertical').val());
        center_rail_height = height - (bottom_rail_width + top_rail_width) + 1;
        if(split_one > 10){
          split_two = 100 - split_one;
          denom_one = split_one / 100;
          denom_two = split_two / 100;
          custom_panel_width_one = (width - (stile_width * 2) - center_rail_width) * denom_one;
          custom_panel_width_two = (width - (stile_width * 2) - center_rail_width) * denom_two;
          custom_panel_width_one = Math.round(custom_panel_width_one * 1000) / 1000;
          custom_panel_width_two = Math.round(custom_panel_width_two * 1000) / 1000;
          custom_panel_width_one += .625;
          custom_panel_width_two += .625
          custom_panel_height = height - (top_rail_width + bottom_rail_width) - .375;
          msg_four = "<br />" + qty + " - " + center_rail_height + " X " + center_rail_width + " C.R.";
          panel_msg = qty + " - " + custom_panel_width_one.toFixed(4) + " X " + custom_panel_height + "<br />";
          panel_msg += qty + " - " + custom_panel_width_two + " X " + custom_panel_height;
        } else {
          custom_panel_width = (width - (stile_width * 2) - (center_rail_width * split_one));
          custom_panel_width = custom_panel_width / (split_one + 1);
          custom_panel_width = Math.round(custom_panel_width * 1000) / 1000;
          custom_panel_width += .625;
          custom_panel_height = height - (top_rail_width + bottom_rail_width) - .375;
          msg_four = "<br />" + (qty * parseInt(split_one)) + " - " + center_rail_height + " X " + center_rail_width + " C.R.";
          panel_msg = (split_one + 1) + " - " + custom_panel_width + " X " + custom_panel_height;
        }
        
        //calculate split panel
        if(split_one == 50) {
          panel_msg = (2 * qty) + " - " + custom_panel_width_one + " X " + custom_panel_height;
        }
        break;
    }
    
    check_existing_id(id);

    msg_one = qty * 2 + " - " + stile_height + " X " + stile_width + " Stiles<br />";
    add_custom_values(id, qty * 2, stile_height, stile_width);
    msg_two = qty + " - " + top_rail_height + " X " + top_rail_width + " T.R.<br />";
    add_custom_values(id, qty, top_rail_height, top_rail_width);
    msg_three = qty + " - " + bottom_rail_height + " X " + bottom_rail_width + " B.R.";
    add_custom_values(id, qty, bottom_rail_height, bottom_rail_width);
    
    msg_full = msg_one + msg_two + msg_three + msg_four;
    if(panel_msg == "") {
      panel_msg = custom_panel_calculate(height, width, qty);
    }
    
    $('#style_rail_info_' + id).html(msg_full);
    $('#panel_info_' + id).html(panel_msg);
    $('#style_rail_info_' + id).css({"color": "black"});
    $('#panel_info_' + id).css({"color": "black"});
    if(split){
      $('#notes_' + id).parent().height(90);
    } else {
      $('#notes_' + id).parent().height(70);
    }

    calculate();
  }
  
  function custom_panel_calculate(height, width, qty) {
    var panel_height = panel_width = top_rail_width = bottom_rail_width = 0;
    var stile_width = parseFloat($('#custom_stile').val());
    top_rail_width = parseFloat($('#custom_top_rail').val());
    bottom_rail_width = parseFloat($('#custom_bottom_rail').val());
    panel_height = (height - (top_rail_width + bottom_rail_width)) + .625;
    panel_width = (width - (stile_width * 2) + 1) - .375;
    return qty + " - " + panel_width + " X " + panel_height;
  }

  function add_values_to_totals(qty, height, width) {
    var pos = jQuery.inArray(width, arr_denom);
    var total = "";
    if (pos == -1) {
      arr_denom.push(width);
      arr_total.push(height * qty);
    } else {
      arr_total[pos] += (height * qty);
    }
    for(var i = 0; i < arr_total.length; i++) {
      total += "Need: " + arr_total[i] + " of " + arr_denom[i] + "; ";
    }
    $('#txt_totals').val(total);
  }

  function add_custom_values(id, qty, height, width) {
    arr_custom_ids.push(id);
    arr_custom_denom.push(width);
    arr_custom_total.push(height);
    arr_custom_qtys.push(qty);
  }

  function check_existing_id(id) {
    var pos = jQuery.inArray(id.toString(), arr_custom_ids);
    if (pos > -1){
      for(var i = 0; i < arr_custom_ids.length; i++) {
        arr_custom_ids[i] = -1;
        arr_custom_total[i] = -1;
        arr_custom_qtys[i] = -1;
        arr_custom_denom[i] = -1;
      }
    }
  }

  function add_custom_values_to_totals() {
    for(var i = 0; i < arr_custom_total.length; i++) {
      if (arr_custom_total[i] != -1) {
        add_values_to_totals(arr_custom_qtys[i], arr_custom_total[i], arr_custom_denom[i]);
      }
    }
  }
  
  function disable_custom_elements() {
    if ($('#custom_select').val() == 2) {
      $('#custom_horizontal').removeAttr('disabled');
      $('#custom_vertical').attr('disabled', 'disabled');
    } else if ($('#custom_select').val() == 3) {
      $('#custom_vertical').removeAttr('disabled');
      $('#custom_horizontal').attr('disabled', 'disabled');
    } else {
      $('#custom_vertical').attr('disabled', 'disabled');
      $('#custom_horizontal').attr('disabled', 'disabled');
    }
  }
  $(function() {
    $('#custom_screen').popup();
  });
  
  $(document).ready(function() {
    add_rows();
  });
</script>
